<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Apex Finance</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="{% static 'images/ApexLogo.png' %}" alt="Apex Finance Logo" class="logo">
        <h1 class="title"><a href="{% url 'dashboard' %}">APEX FINANCE</a></h1>
        <div class="login-signup">
            <a class="login-button" href="{% url 'login' %}">Login</a>
            <button class="signup-button">Signup</button>
        </div>
    </header>

    <div class="container">
        <main>
            <section class="intro">
                <h2>Welcome to Apex Finance</h2>

                <section class="chart">
                    <img src="{% static 'images/Apex_Finance_transparent.png' %}" alt="Stock Market Chart">
                </section>

                <p>Your trusted partner in navigating the dynamic world of finance and stocks. Our mission is to empower individuals and businesses like you to make informed financial decisions through innovative technology and expert guidance.
                    As well, Today is {{today}}
                </p>
                <h3>Why Choose Apex Finance?</h3>
                <ul>
                    <li><strong>User-Friendly Interface:</strong> Our intuitive platform is designed to cater to users of all levels, making it easy for you to access and understand financial information.</li>
                    <li><strong>Real-time Data:</strong> Stay updated with the latest market trends and news through our real-time data feeds, ensuring you have the information you need to make informed decisions.</li>
                    <li><strong>Expert Analysis:</strong> Benefit from our team of seasoned financial analysts who provide insightful commentary and analysis to help you navigate the complexities of the financial markets.</li>
                    <li><strong>Personalized Recommendations:</strong> Our advanced algorithms tailor investment recommendations to your specific financial goals and risk tolerance, ensuring a personalized experience.</li>
                    <li><strong>Secure and Reliable:</strong> Your financial data is our top priority. We employ state-of-the-art security measures to protect your information and ensure your peace of mind.</li>
                </ul>
                <h3>Join the Apex Finance Community Today!</h3>
                <p>Whether you're a seasoned investor or just starting your financial journey, Apex Finance is here to support you every step of the way. Sign up now and unlock a world of financial opportunities.</p>

                <div class="cta-buttons">
                    <a class="login-button" href="{% url 'login' %}">Login</a>
                    <button class="signup-button">Signup</button>
                </div>
            </section>

            <section class="features">
                <h3>Additional Features:</h3>
                <ul>
                    <li><strong>Educational Resources:</strong> Access a wealth of educational materials, including articles, tutorials, and webinars, to enhance your financial knowledge.</li>
                    <li><strong>Portfolio Tracking:</strong> Monitor your investments and track your performance with our comprehensive portfolio tracking tools.</li>
                    <li><strong>Alerts and Notifications:</strong> Stay informed with personalized alerts and notifications about market movements and important financial events.</li>
                </ul>
            </section>

            <section class="chart">
                <h3>Stock Market Trends</h3>
                <img src="{% static 'images/RedStock.webp' %}" alt="Stock Market Chart">
            </section>

        </main>
    </div>

    <footer>
        <p>Contact us: (480) - 709 - 5202</p>
    </footer>
</body>
</html>