<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Apex Finance</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-top">
            <h1 class="title"><a href="{% url 'dashboard' %}" title="Explore APEX FINANCE">APEX FINANCE</a></h1>
            <img src="{% static 'images/ApexLogo.png' %}" alt="Apex Finance Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="#accounts">Accounts & Trade</a></li>
                <li><a href="#Planning">Planning & Advice</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#why">Why Apex Finance</a></li>
                <li><a href="{% url 'FAQS' %}">FAQs</a></li>
                <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            <div class="promo-box">
                <div class="promo-content">
                    <h1>Dominate the Market, Conquer Your Future</h1>
                    <h2>Rise above the rest with unmatched tools and bold financial strategies.</h2>
                    <div class="promo-buttons">
                        <div class="button-container">
                            <p>Empower Your Wealth.</p>
                            <a href="{% url 'register' %}" class="register-button">Open an Account</a>
                        </div>
                        
                        <div class="button-container">
                            <p>Continue Your Journey.</p>
                            <a href="{% url 'login' %}" class="login-button">Sign In</a>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/mountain.jpg' %}" alt="Conquer the Markets" class="promo-image">
            </div>

            <h1> You've got goals. We've got solutions. </h1>

            <div class="promo-box2">
                <div class="promo-content2">
                    <p id="accounts"> Accounts & Trade </p>
                    <h1> Seize Control of Your Wealth </h1>
                    <h2> No matter your strategy, we provide the tools to crush your financial goals and leave your competition behind. </h2>
                </div>
                <img src="{% static 'images/controlMoney.webp' %}" alt="Red and White stock image" class="promo-image2">
            </div>


            <div class="promo-box2">
                <img src="{% static 'images/Retirment.webp' %}" alt="A couple Retiring" class="promo-image2">
                <div class="promo-content2">
                    <p id="Planning"> Planning & Advice </p>
                    <h1>Master Your Financial Destiny</h1>
                    <h2>Utilize our Asset Allocation Calculator to make informed decisions to shape your wealth for the future.</h2>
                </div>
            </div>

            <div class="promo-box2">
                <div class="promo-content2">
                    <p id="products"> Products </p>
                    <h1>Stay Ahead of Market Trends</h1>
                    <h2>Utilize our Stock Predictor to anticipate market movements and make informed decisions for the future.</h2>
                </div>
                <img src="{% static 'images/futureStock.jpg' %}" alt="Stock image of stocks chart" class="promo-image2">
            </div>

            <h1 id="why"> Why Apex Finance? </h1>
            
            <!-- New Section with Three Small Boxes -->
            <div class="promo-box-reasons">
                <div class="promo-reason-box">
                    <h3>Investment Trend Analyzer</h3>
                    <p>Utilize advanced algorithms and real-time data to predict market movements, helping you make informed decisions for your portfolio.</p>
                </div>
                <div class="promo-reason-box">
                    <h3>Asset Allocation Calculator</h3>
                    <p>Optimize your investment strategy with our comprehensive asset allocation calculator, designed to balance risk and maximize returns.</p>
                </div>
                <div class="promo-reason-box">
                    <h3>Effortless Stock Management</h3>
                    <p>Navigate and manage your stock portfolio with ease, using a streamlined interface that simplifies tracking and decision-making.</p>
                </div>
            </div>

            <div class="promo-box3">
                <div class="promo-content3">
                    <h1><a href="{% url 'register' %}"> Join Apex Finance today and take control of your financial future. </a></h1>
                </div>
                <img src="{% static 'images/ApexLogo.png' %}" alt="Stock image of stocks chart" class="promo-image2">
            </div>


        </main>
    </div>

    <!-- Footer Section -->
    <footer class="matching-style">
        <p>&copy; 2024 APEX Finance | <a href="{% url 'aboutUs' %}">About Us</a> | <a href="{% url 'FAQS' %}">Help</a> | <a href="{% url 'FAQS' %}"> Contact Us </a></p>
    </footer>
    
</body>
</html>