{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transaction History - APEX Finance</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'transactionHistory/transactionHistory.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <img src="{% static 'images/ApexLogo.png' %}" alt="Apex Finance Logo" class="logo">
      <h1 class="title"><a href="{% url 'dashboard' %}" title="Explore APEX FINANCE">APEX FINANCE</a></h1>
          <div class="right-items">
              <form id="searchForm" action="{% url 'search' %}" method="GET" onsubmit="return site.SubmitForm();">
                  <input type="text" id="symbol" name="symbol" placeholder="Enter Stock ETF or Mutual Fund Symbol" oninput="this.value = this.value.toUpperCase();" required>
                  <button type="submit">Search</button>
              </form>
              
              <div class="dropdown">
                  <a href="#" class="dropbtn">Account <i class="fas fa-caret-down"></i></a>
                  <ul class="dropdown-content">
                    <li><a href="{% url 'transactionHistory' %}">Transaction History</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li><a href="{% url 'assetCalc' %}">Asset Calculator</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'buySell' %}">Buy and Sell Stocks</a></li>
                    <li><a href="{% url 'stockPred' %}">Stock Predictor</a></li>
                </ul>
          </div>
  </header>

    <div class="container">
      <h1>Transaction History</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Type</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in user_transactions %}
          <tr>
            <td>{{ transaction.company_name }}</td>
            <td>{{ transaction.stock_quantity }}</td>
            <td>${{ transaction.stock_price }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.transaction_date|date:"Y-m-d" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Footer Section -->
    <footer class="matching-style">
      <p>&copy; 2024 APEX Finance | <a href="{% url 'aboutUs' %}">About Us</a> | <a href="{% url 'FAQS' %}">Help</a> | <a href="{% url 'FAQS' %}"> Contact Us </a></p>
    </footer>

  </body>
</html>