{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'settings/changePswd.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">    
</head>

<body>
    <header>
        <img src="{% static 'images/ApexLogo.png' %}" alt="Apex Finance Logo" class="logo">
        <h1 class="title"><a href="{% url 'dashboard' %}">APEX FINANCE</a></h1>
        <div class="right-items">
            <form id="searchForm" action="{% url 'search' %}" method="GET">
                <input type="text" id="symbol" name="symbol" placeholder="Enter Stock ETF or Mutual Fund Symbol" oninput="this.value = this.value.toUpperCase();" required>
                <button type="submit">Search</button>
            </form>
            <div class="dropdown">
                <a href="#" class="dropbtn">Account <i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'transactionHistory' %}">Transaction History</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li><a href="{% url 'assetCalc' %}">Asset Calculator</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'buySell' %}">Buy and Sell Stocks</a></li>
                    <li><a href="{% url 'stockPred' %}">Stock Predictor</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="change-password-container">
        <h1>Change Your Password</h1>
        <p>Make sure your password is strong and secure.</p>
    
        <form method="POST" action="{% url 'changePswd' %}" >
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input type="password" id="old_password" name="old_password" placeholder="Enter old password" required>
            </div>
    
            <div class="form-group">
                <label for="new_password1">New Password:</label>
                <input type="password" id="new_password1" name="new_password1" placeholder="Enter new password" required>
            </div>
    
            <div class="form-group">
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" id="new_password2" name="new_password2" placeholder="Confirm new password" required>
            </div>
    
            <button type="submit">Change Password</button>
            <p>Want to go back? <a href="{% url 'dashboard' %}">Return to homepage</a></p>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

        </form>
    
    </div>

    <!-- Footer Section -->
    <footer class="matching-style">
        <p>&copy; 2024 APEX Finance | <a href="{% url 'aboutUs' %}">About Us</a> | <a href="{% url 'FAQS' %}">Help</a> | <a href="{% url 'FAQS' %}"> Contact Us </a></p>
    </footer>

</body>
</html>